.header {
    background-color: #FAD8D6;
    width:1450px;
    height:450px;
    display: block;
}

h1 {
    text-align: center;
   
}

.foto {
    position: absolute;
    margin-left: 900px;
    margin-top: -400px;
    float: left;
}

.ontwerp {
    background: black;
    width: 740px;
    height:900px;
    margin-top: 80px;
    margin-left:75px;
}

.reflectie {
    width: 420px;
    padding: 10px;
    border: 5px solid white;
    margin-left: 900px;
    margin-top: -750px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.actie {
    width: 420px;
    padding: 10px;
    border: 5px solid white;
    margin-left: 900px;
    margin-top: -320px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h1 {
    margin-left: -450px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}